.imgChannels{
    height: 68px;
}


@media (max-width: 769px) { 
    .ChannelsMobile-p{
      font-size: var(--main-text-769-size);
    }
  }

  @media (max-width: 540px) { 
 
    .SimpleInstallation-Link{
      margin-left: 0;
    }
    .ChannelsMobile-p{
      font-size: var(--main-text-320-size);
    }
  }

  .Channels-margTop{
    margin-top: 48px;
  }