.Installation-paragraph--htmlSection {
  text-align: start;
}

/* .Link {
  text-decoration: none;
} */


.Navigation-link:hover {
  text-decoration: underline;
}

.Installation-link {
  color: var(--dark-cyan);
  font-size: var(--main-text-link-769-size);
  
}

.InstallationWeb-header{
  margin-bottom: 80px;
}

@media (max-width: 540px) {
.InstallationWeb-header{
  margin-bottom: 20px;
  }
}

.InstallationHtml-li{
  margin-bottom: 60px;
}

.InstallationHtml-p{
  font-size: 1rem;
}