.Container-Main {
  max-width: 100%;
  margin-left: 37%;
  margin-right: 37%;
}

.Installation-Section {
  background-color: var(--second-bg-color);
  padding-top: 85px;
  padding-bottom: 70px;

}

.Installation-paragraph {
  color: var(--main-text-color);
  text-align: start;
  font-size: var(--main-text-web-size);
}

.Installation-h1Header {
  color: var(--main-h1-color);
  font-size: var(--h1-web-text-size);
  text-transform: uppercase;
  text-align: start;
}

.u-Padding30 {
  padding-top: 33px;
}

.Button {
  padding: 10px;
  border: 0;
  border-radius: 50px;
  font-weight: bold;
}

.Button--standartText {
  margin: 2px 0;
  min-width: 263px;
  background: var(--button-standart-bg-color-web);
  cursor: pointer;
  color: var(--btn-standart-text-color-web);
  padding-right: 20px;
  font-size: var(--btn-standart-text-size-web);
  height: 48px;
  text-transform: uppercase;
  font-size: var(--btn-standart-text-size-web);
}

.Button--standartTextTransparent {
  background-color: transparent;
  color: var(--btn-standart-text-color-transparent-web);
  border: 1px solid #393e6b;
}

.Button--marRight20{
  margin-right: 20px;
}

@media (max-width: 769px) { 
  .Installation-h1Header {
    margin-bottom: 66px;
    font-size: var(--h1-769-text-size);
  }
  .u-Padding30 {
    margin-top: 50px;
  } 
  .Button--standartText {
    min-width: 100%;
    min-height: 93px;
    font-size: var(--btn-standart-text-size-769);
    margin-bottom: 35px;

  }
}

@media (max-width: 540px) { 
  .Button--standartText {
    font-size: var(--btn-standart-text-size-320);
  }
}

@media (max-width: 540px) { 
  .Installation-h1Header {
    font-size: var(--h1-320-text-size);
    margin-bottom: 20px;
  }
  .Installation-Link{
    font-size: 1rem;
  }
  .Installation-Section{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
