.InstApp {
    margin-bottom: 70px;
}

@media (max-width: 769px) { 
    .InstApp {
        font-size: var(--main-text-769-size);
    }
    .Installation-link{
        font-size: var(--main-text-link-769-size);
    }
    .InstallationHtml-p{
        font-size: var(--main-text-769-size);
    }
  }

  @media (max-width: 540px) { 
    .Installation-link{
        font-size: var(--main-text-link-320-size);
    }
    .InstallationHtml-p{
        font-size: var(--main-text-320-size);
    }
  }
  

