.InstApp {
    margin-bottom: 80px;
}

@media (max-width: 769px) { 
    .InstApp {
        font-size: 24px;
    }
    .Installation-link{
        font-size: 30px;
    }
    .InstallationHtml-p{
        font-size: 24px;
    }
  }


  
  @media (max-width: 320px) { 
    .Installation-link{
        font-size: 17px;
    }
    .InstallationHtml-p{
        font-size: 16px;
    }
  }
  

