.Installation-Navigation {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.u-bgWhite {
  background-color: #fff;
}

.SimpleInstallation-Link {
  margin-left: 48px;
  margin-top: 10px;
  text-align: start;
}

@media (max-width: 769px) { 
  .SimpleInstallation-Link{
    font-size: 24px;
  }
  .Installation-Navigation{
    flex-direction: column;
  }
}

.SimpleInstallation-linkColumn {
  display: flex;
  flex-direction: column;
  align-items: start; 
}

@media (max-width: 320px) { 
  .SimpleInstallation-linkColumn {
    align-items: center;
    margin-top: 20px;
  }
}

.u-mRight {
  margin-right: 100px;
}

.simpleInstImg {
  height: 108px;
}

@media (max-width: 320px) { 
  .SimpleInstallation-Link{
    font-size: 17px;
    margin: 0;
  }
  .Installation-Navigation{
    flex-direction: column;
  }

}