.Navigation {
}

.Header {
  box-shadow: var(--header-box-shadow-web);
  background: var(--header-gradient-bg-color);
  height: 100px;
  margin-bottom: 5px;
}

@media (max-width: 769px) { 
  .Header {
    background: var(--header-mobile-bg-color);
  }
}

.Header-Navigation {
  text-transform: uppercase;
  font-size: var(--main-text-web-size);
  color: var(--header-navigation-text-color);
}

@media (max-width: 769px) { 
  .Header{
    box-shadow: var(--header-box-shadow-mobile);
  }
  .Header-li {
    display: none;
  }
  .Navigation-leftMenu{
    justify-content: center;
  }
  .Header-mobile-Logo {
    margin-right: auto;
  }
  .mobile-logoRight {
    margin-right: auto;
  }
  .Header-logo {
    width: 100%;
  }
}

@media (min-width: 540px) { 
  .Hamburger-menu, .Header-mobile-Logo, .mobile-logoRight, .mobile-logo {
    display: block;}
}

@media (min-width: 769px) { 
  .Hamburger-menu, .Header-mobile-Logo, .mobile-logoRight, .mobile-logo {
    display: none;
  }
  .marginRightMenu{
    display: flex;
  }
  .Navigation-rightMenu{
    margin-left: auto;
  }
}

.u-marginRight {
  margin-right: 23px;
}

.Navigation-leftMenu {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

.Navigation-rightMenu {
  display: flex;
  list-style: none;
  align-items: center;
}

.Navigation-logo {
  max-width: 116px;
}

@media (max-width: 769px) { 
  .Navigation-logo {
    width: 100%;
  }
}

.Navigation-listItemP {
  padding-right: 20px;
}

.Navigation-listItemFont{
  font-size: 19px;
}

.Navigation-end{
  align-self: flex-end;
}

.u-height100{
  height: 100%;
}

@media (max-width: 769px) { 
  .Navigation-logo {
    width: 100%;
  }
}