/* .Installation-paragrap--afterInst1 {
  list-style-image: url("../step_01.svg");
} */

.imgAfter {
  max-width: 75px;
  height: 100px;
  margin-right: 37px;
}

.AfterInst-ListItem {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  align-items: center;
  color: #393e6b;
}

.Button--standartBgBlue{
  background-color: #393e6b;
  padding-left: 23px;
  padding-right: 23px;
}

.AfterInstListItem--h3{
  margin-right: 10px;
  color: #393e6b;
}

.Installationparagraph--after{
  color: #393e6b;
  font-weight: lighter;
}

@media (max-width: 769px) { 
  .Installationparagraph--after{
    font-size: 24px;
    margin: 0;
  }
  .step-1{
    display: flex;
  }
  .AfterInstListItem--h3{
    margin: 0;
    flex-shrink: 0;
    margin-right: 5px;
  }
}

.firstInstAfterPar {
  margin-bottom: 69px;
}


@media (max-width: 769px) { 
  .firstInstAfterPar{
    font-size: 24px;
  }
}