.imgAfter {
  max-width: 75px;
  height: 100px;
  margin-right: 37px;
}

.AfterInst-ListItem{
  display: flex;
  justify-content: start;
  margin-top: 10px;
  align-items: center;
  color: var(--navy-color);
}

.Button--standartBgBlue{
  background-color: var(--navy-color);
  padding-left: 23px;
  padding-right: 23px;
}

.AfterInstListItem--h3{
  margin-right: 10px;
  color: var(--h3--color-web);
}

.Installationparagraph--after{
  color: var(--h3--color-web);
  font-weight: lighter;
}

@media (max-width: 769px) { 
  .Installationparagraph--after{
    font-size: var(--main-text-769-size);
    margin: 0;
  }
  .step-1{
    display: column;
    align-items: center;
  }
  .step1__text {   
    text-align: center;
    max-width: 240px;
  }
  .AfterInstListItem--h3{
    margin: 0;
    flex-shrink: 0;
    margin-right: 5px;
  }
}

.step-1 {
  display: flex;
  align-items: baseline;
}
.step-1__title {
  flex-shrink: 0;
}

.step-1__text {
  max-width: 100%;
  text-align: left;
}

@media (max-width: 540px) { 
  .firstInstAfterPar{
    font-size: var(--main-text-web-size);
  }
}

.firstInstAfterPar {
  margin-bottom: 69px;
}

@media (max-width: 769px) { 
  .firstInstAfterPar{
    font-size: var(--main-text-769-size);
  }
}

@media (max-width: 540px) { 
  .AfterInst-ListItem {
    font-size: var(--main-text-320-size);
    flex-direction: column;
  }
  .Installation-paragraph{
    margin: 0 auto;
    font-size: var(--main-text-320-size);
  }
  .imgAfter{
    margin: 0;
  }
  .Installationparagraph--after{
    font-size: var(--main-text-320-size);
  }
}